<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<title><%=CGlobal.serverLang('衣购商城后台--管理')%></title>
</head>
<body class="hold-transition sidebar-mini fixed">
	<div class="wrapper" ng-app="appCMS" style="padding-bottom: 20px;">
		<% include ../public/navBar.html%> <% include ../public/sideBar.html%>
		<div id="ngView" ng-view></div>
		<div th:replace="index/footer :: footer"></div>
	</div>
	<script th:src="@{static/js/jquery/jquery.min.js}"></script>
	<script th:src="@{static/js/jquery/overrideAjax.js}"></script>
	<script th:src="@{static/js/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{static/js/moment/moment.js}"></script>
	<script th:src="@{static/js/adminLTE/app.js}"></script>
	<script th:src="@{static/js/angular/angular.js}"></script>
	<script th:src="@{static/js/angular/angular-route.min.js}"></script>
	<!--客户端翻译资源文件-->
	<script th:src="@{static/js/client-lang.js}"></script>
	<!--全局js-->
	<script th:src="@{static/js/global.js}"></script>
	<script th:src="@{static/js/super/index.js}"></script>
	<script th:src="@{static/js/super/services.js}"></script>
	<script th:src="@{static/js/super/cmsApp.js}"></script>
	<script th:src="@{static/js/super/controllers.js}"></script>
</body>
</html>