<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/jquery/plugins/hotkeys/jquery.hotkeys.min.js"></script>
<!--重写jQuery的ajax的success-->
<script src="/js/jquery/overrideAjax.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!--bootstrap表格-->
<script src="/js/bootstrap/bootstrap-table.min.js"></script>
<script src="/js/bootstrap/table/bootstrap-table-contextmenu.js"></script>
<script src="/js/bootstrap/table/bootstrap-table-customOverride.js"></script>
<!--bootstrap表格翻译-->
<script src="/js/bootstrap/table/bootstrap-table-locale-all.min.js"></script>
<script src="/js/moment/moment.js"></script>
<script src="/js/adminLTE/app.js"></script>
<script src="/js/angular/angular.js"></script>
<script src="/js/angular/angular-route.min.js"></script>
<!--滚动条变细-->
<script src="/js/jquery/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/pace/pace.min.js"></script>
<script src="/js/jquery/plugins/touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/js/jquery/plugins/inputmask/jquery.inputmask.js"></script>
<script src="/js/jquery/plugins/inputmask/numeric.extensions.js"></script>
<script src="/js/jquery/plugins/inputmask/date.extensions.js"></script>
<script src="/js/jquery/plugins/date/bootstrap-datetimepicker.js"></script>
<script src="/js/jquery/plugins/date/locales/bootstrap-datetimepicker.locale.js"></script>
<!--吐司插件-->
<script src="/js/layer/layer.min.js"></script>
<!--客户端翻译资源文件-->
<script src="/js/client-lang.js"></script>
<!--全局js-->
<script src="/js/global.js"></script>