<header class="main-header" ng-controller="navBarController">
    <a href="home" class="logo">
        <span class="logo-mini"><b>C</b>MS</span>
        <span class="logo-lg"><b>Clothing Shop </b>MS</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="javascript:void(0);" class="sidebar-toggle"
           data-toggle="push-menu" role="button" ng-click="changeNavbar()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <%if(adminSession.shopId !== 'SYSTEM'){%>
        <div class="collapse navbar-collapse pull-left">
            <ul class="nav navbar-nav">
                <li><a href="shopDetail/<%=adminSession.shopId%>" style="font-size: large"><%=adminSession.shopName%></a></li>
            </ul>
        </div>
        <%}%>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">0</span>
                    </a>
                </li>
                <li class="dropdown notifications-menu">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">0</span>
                    </a>
                </li>
                <li class="dropdown tasks-menu">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">0</span>
                    </a>
                </li>
                <li class="dropdown user user-menu">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="<%=adminSession.userImg%>" class="user-image" alt="User Image">
                        <span class="hidden-xs"><%=adminSession.adminName%></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <li class="user-header">
                            <img src="<%=adminSession.userImg%>" class="img-circle" alt="User Image">
                            <p>
                                Oliver.wu - Web Developer
                                <small>Member since Nov. 2016</small>
                            </p>
                        </li>
                        <!--<li class="user-body">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-4 text-center">-->
                                    <!--<a href="javascript:void(0);">Followers</a>-->
                                <!--</div>-->
                                <!--<div class="col-xs-4 text-center">-->
                                    <!--<a href="javascript:void(0);">Sales</a>-->
                                <!--</div>-->
                                <!--<div class="col-xs-4 text-center">-->
                                    <!--<a href="javascript:void(0);">Friends</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="javascript:void(0);"
                                   class="btn btn-default btn-flat"><%=CGlobal.serverLang('个人信息')%></a>
                                <!--<a href="javascript:void(0);"-->
                                   <!--class="btn btn-default btn-flat"><%=CGlobal.serverLang('修改密码')%></a>-->
                            </div>
                            <div class="pull-right">
                                <a href="javascript:void(0);" class="btn btn-default btn-flat"
                                   ng-click="logOut()"><%=CGlobal.serverLang('退出')%></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <span ng-bind="langLogo"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="(key,value) in langProp" ng-class="{active: langType == key}"
                            ng-click="toggleLang(key)"><a href="javascript:void (0);">{{value}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>